<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<title></title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
{% include "menu.html" %}
{% block content %}

<header class="text-gray-600 body-font bg-yellow-100 mr-24">
    <div class="container mx-auto flex flex-wrap p-3 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            
            <span class="ml-3 text-3xl">투수 선택</span>
        </a>
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
            <class="mr-5 hover:text-gray-900 text-xl">
                <form action="#">
    
                    <select name="temas" id="team" class="appearance-none border border-gray-400 rounded-md py-2 px-3 bg-white focus:outline-none focus:border-blue-500">
                        <option value="javascript">Home Team</option>
                        <option value="두산">두산</option>
                        <option value="한화">한화</option>
                        <option value="KIA">기아</option>
                        <option value="키움">키움</option>
                        <option value="KT">KT</option>
                        <option value="LG"> LG</option>
                        <option value="롯데">롯데</option>
                        <option value="NC">NC</option>
                        <option value="SAMSUNG">삼성</option>
                        <option value="SSG">SSG</option>
                    </select>   
                </form>
                <form action="#">
    
                    <select name="temas" id="team" class="appearance-none border border-gray-400 rounded-md py-2 px-3 bg-white focus:outline-none focus:border-blue-500">
                        <option value="javascript">PLAYER</option>
                        <option value="두산">김xx</option>
                        <option value="한화">이xx</option>
                        <option value="KIA">박xx</option>
                        <option value="KIA">...</option>
                    </select>   
                </form>
            </a>
            
        </nav>
    </div>
</header>

<header class="text-gray-600 body-font bg-green-100 mr-24">
    <div class="container mx-auto flex flex-wrap p-3 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            
            <span class="ml-3 text-3xl">타자 선택</span>
        </a>
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
            <class="mr-5 hover:text-gray-900 text-xl">
                <form action="#">
    
                    <select name="temas" id="team" class="appearance-none border border-gray-400 rounded-md py-2 px-3 bg-white focus:outline-none focus:border-blue-500">
                        <option value="javascript">Home Team</option>
                        <option value="두산">두산</option>
                        <option value="한화">한화</option>
                        <option value="KIA">기아</option>
                        <option value="키움">키움</option>
                        <option value="KT">KT</option>
                        <option value="LG"> LG</option>
                        <option value="롯데">롯데</option>
                        <option value="NC">NC</option>
                        <option value="SAMSUNG">삼성</option>
                        <option value="SSG">SSG</option>
                    </select>   
                </form>
                <form action="#">
    
                    <select name="temas" id="team" class="appearance-none border border-gray-400 rounded-md py-2 px-3 bg-white focus:outline-none focus:border-blue-500">
                        <option value="javascript">PLAYER</option>
                        <option value="두산">최xx</option>
                        <option value="한화">정xx</option>
                        <option value="KIA">한xx</option>
                        <option value="KIA">...</option>
                    </select>   
                </form>
            </a>
            
        </nav>
        <button onclick="location.href='{% url 'matchups_result' %}'" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0 mr-14">
            투타비교
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
</header>

{% endblock content %}
</body>

</html>
