<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<title></title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
{% include "menu.html" %}
{% block content %}

<header class="text-gray-600 body-font bg-red-200 mr-24">
    <div class="container mx-auto flex flex-wrap p-3 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img src="https://ssl.gstatic.com/onebox/media/sports/logos/171JeGI-4meYHLIoUPjerQ_48x48.png" alt="대체 텍스트" class="w-16 h-10">
            <span class="ml-3 text-3xl">SSG</span>
        </a>
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
            <class="mr-5 hover:text-gray-900 text-xl">
                <form action="#">
    
                    <select name="temas" id="team" class="appearance-none border border-gray-400 rounded-md py-2 px-3 bg-white focus:outline-none focus:border-blue-500">
                        <option value="javascript">vs Team</option>
                        <option value="두산"> vs 두산</option>
                        <option value="한화"> vs 한화</option>
                        <option value="KIA"> vs 기아</option>
                        <option value="키움"> vs 키움</option>
                        <option value="KT"> vs KT</option>
                        <option value="LG"> vs LG</option>
                        <option value="롯데"> vs 롯데</option>
                        <option value="NC"> vs NC</option>
                        <option value="SAMSUNG"> vs 삼성</option>
                        <option value="SSG"> vs SSG</option>
                      </select>
                    
                </form>
            </a>
        </nav>
        <button onclick="location.href='{% url 'analysis_result' %}'" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0 mr-14">
            전력비교
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
</header>
<br>
<h2 class="title-font sm:text-3xl text-3xl mb-4 font-medium text-gray-900">리그 기록</h2>
<p class="mb-8 leading-relaxed"> Rank | WAR | BT | SB | BR | Def | GS | GR | GS | GR | GS | GR</p>
<br>
<br>
<h2 class="title-font sm:text-3xl text-3xl mb-4 font-medium text-gray-900">팀별 대결 기록</h2>
<div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
    <img class="object-cover object-center rounded" alt="hero" src="https://lh4.googleusercontent.com/proxy/FGOONO9e6AqjWuJ1ITIki5sgnDN5mesmcYq9Kut-XhB32LqAjbX7KfkpP9feW2nEG-YAbKc3btNKWs3Pbdn_SLaKY5X2fRAygocdsz_x" style="margin-left: 990px;">
</div>

{% endblock content %}